body {
    background-color: lightgray
}
header {
    background-color: white
}
header div{
    background-color: orange;
    width: 600px;
    margin: auto
}
#mainContainer{
    background-color: purple;
}
.centeredContainer{
    width: 600px;
    margin: auto
}
.postContainer{
    margin: auto;
    margin-top:30px;
    background-color:white
}
.postHeaderContainer{
    display: flex;
    font-size: 28px;
    line-height: 120%;
    padding: 10px;
}
.postHeaderContainer div {
    width: 50%
}
.postHeaderDateContainer{
    text-align: right;
}
.postHeaderDateContainer div {
    width: 50%
}
.postCommentContainer{
    font-size: 24px;
    line-height: 80%;
    padding: 10px;
}
